.emasapp {
  color: #000;
  width: 100%;
  height: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 14px;
  padding-left: 27px;
  padding-right: 32px;
  font-family: Karla, Arial;
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 72px;
  display: flex;
}


.flex-container {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
  font-size: 2.5rem;
  line-height: 47px;
  display: flex;
}

.logo-header {
  width: 331px;
  height: 106px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}

.home {
  margin-top: 2px;
}
.home:hover {
  color: yellow;
}

.about {
  margin-top: 1px;
}

.about:hover {
  color: yellow;
}

.menu {
  margin-top: 2px;
}

.menu:hover {
  color: yellow;
}

.orderonline {
  margin-left: 14px;
}

.orderonline:hover {
  color: yellow;
}

.login {
  margin-left: 6px;
}

.login:hover {
  color: yellow;
}

.header {
  margin-top: 2px;
  margin-left: 1px;
  font-family: Markazi Text, Arial;
}

.text-we-are-happy {
  text-align: center;
  margin-left: 7px;
  font-size: 2rem;
  line-height: 37px;
}

.choose-ocassion-button-instance-1 {
  width: 30%;
  flex-basis: 16%;
  margin-left: 11px;
}


form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 500px;
  padding: 30px 50px;
}

input {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

label {
  color: #1d1c1c;
  display: block;
  font-family: Karla, Arial;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 5px;
}


.submitButton {
  background-color: #f7ff01;
  color: rgb(2, 2, 1);
  font-family: Karla, Arial;
  font-size: 2rem;
  margin: 20px 0px;
  border-radius: 8%;
}

.submitButton:hover {
  background-color: #2a572d;

}
#smalllabel {
  color: #1d1c1c;
  display: block;
  font-family: Karla, Arial;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}
.error {
  color:red;
  font-family: Karla, Arial;
  font-size: 15px;
  font-weight: 500;

}
option {
  color: #1d1c1c;
  display: block;
  font-family: Karla, Arial;
  font-weight: 500;
  margin-bottom: 5px;
}

.flex-container-1 {
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 4px;
  margin-bottom: 9px;
  font-size: 2rem;
  line-height: 37px;
  display: flex;
}

.logo-footer {
  width: 195px;
  height: 339px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  margin-right: 78px;
}

.flex-container-2 {
  height: 50%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
}


.doormat-navigation {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 50px;
}

.footer-home {
  align-self: center;
  margin-left: 35px;
  font-size: 2rem;
}

.footer-about {
  align-self: center;
  margin-left: 35px;
  font-size: 2rem;
}

.footer-menu {
  align-self: center;
  margin-left: 35px;
  font-size: 2rem;
}

.footer-reservation {
  align-self: center;
  margin-left: 35px;
  font-size: 2rem;
}

.footer-order {
  align-self: center;
  margin-left: 35px;
  font-size: 2rem;
}
.footer-login {
  align-self: center;
  margin-left: 35px;
  font-size: 2rem;
}

.flex-container-3 {
  height: 50%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.contacts {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 50px;
}

.contacts-adress
{
  align-self: center;
  font-size: 2rem;
}

.contacts-email
{
  align-self: center;
  font-size: 2rem;
}

.contacts-phone
{
  align-self: center;
  font-size: 2rem;
}


.flex-container-4 {
  height: 50%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.social-media {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 50px;
}

.facebook {
  align-self: center;
  margin-left: 35px;
  font-size: 2rem;
}

.instagram {
  align-self: center;
  margin-left: 35px;
  font-size: 2rem;
}


